MONGODB_URI=mongodb+srv://parth_db_user:spUSkVhDuEYyRM8Z@parth-demo-cluster.m4r772e.mongodb.net/taskapp
PORT=5000
NODE_ENV=development
JWT_SECRET=mySuperLongRandomSecretKey_123!@

MONGO_INITDB_ROOT_USERNAME=usename
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=database_name